@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #14140a;
  color: #3b352c;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 5px 20px;
  margin: 10px;
  background-color: #baa973;
  color: #000000;
  border-radius: 5px;
  transition: transform 0.05s;
}

button:hover {
  background-color: #ffc83d;
  box-shadow: 0px 0px 10px #ebaa05;
}

button:active {
  transform: translateY(2px);
}

button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

input[type=text] {
  background-color: #d7d2a4;
  border-width: 2px;
  border-style: solid;
  border-color: #d7da664a;
  border-radius: 4px;

  font-size: 1.25rem;
  color: #564d3f;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

input[type=text]:focus {
  outline-style: solid;
  outline-color: #f9b41468;
  outline-width: 2px;
}