.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction {
  font-size: 2rem;
  color: rgb(137, 128, 100);
  text-align: center;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.instruction>div {
  margin: 5px;
}

.reminder {
  font-size: 1rem;
  color: rgba(137, 128, 100, 0.854);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 300px;
  width: 500px;
  max-width: 50%;
  padding: 15px 20px;
  background-color: #8d825e;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #14140a;
  border-radius: 8px;
  box-shadow: inset 0px 0px 4px #000000;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

.inputUrl {
  width: 100%;
  padding: 5px 10px;
  margin-top: 8px;
}

.inputOption {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}

.selectionArea {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.block {
  flex-grow: 1;
  flex-basis: 0;
  min-height: 200px;
  border-radius: 15px;
  background-color: #8d825e;
  box-shadow: inset 0px 0px 10px #000000;
  padding: 1.5rem;
  margin: 1rem;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.blockTitle {
  font-size: 2rem;
  font-weight: bold;
}

.appDescription {
  font-family: 'Open Sans', sans-serif;
  color: #463927;
  font-size: 1.5rem;
  text-align: justify;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.popupBtn {
  animation-name: popup;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  position: relative;
}

@keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.disabled {
  pointer-events: none;
  opacity: 30%;
}

.selected {
  background-color: #ffc83d;
  box-shadow: 0px 0px 25px #e4b232;
}