.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  background-color: #14140a;
  top: 0px;
  z-index: 1;
}

.containerLight {
  background-color: white;
}

.title {
  font-size: 3rem;
  color: #ffc83d;
  text-shadow: 1px 1px 5px #ebaa05;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.titleLight {
  text-shadow: 1px 1px 3px #5b4100;
}

.icon {
  font-size: 1.5rem;
}

.themeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}